<launch>

   <!-- Voxblox Node -->
   <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" launch-prefix="taskset -c 1" args="-alsologtostderr" clear_params="true">
      <remap from="voxblox_node/esdf_map_out" to="esdf_map" />
      <remap from="voxblox_node/tsdf_map_out" to="tsdf_map" />

      <remap from="pointcloud" to="/camera/point_cloud"/>

      <param name="use_tf_transforms"        value="true"/>
      <param name="world_frame"              value="map"/>
      <param name="publish_tsdf_map"         value="true" />
      <param name="publish_esdf_map"         value="true" />


      <param name="publish_slices"           value="false" />
      <param name="publish_pointclouds"      value="false" />
      <param name="publish_traversable"      value="false"/>
      
      <!--param name="enable_icp"                 value="true"/>
      <param name="icp_refine_roll_pitch"      value="false"/>
      <param name="accumulate_icp_corrections" value="true"/-->
      
      <param name="tsdf_voxel_size"          value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side"     value="16" />
      <param name="color_mode"               value="color" />
      <param name="update_mesh_every_n_sec" value="1.0" />
      <param name="method"                   value="merged" />
      <param name="max_ray_length_m"         value="5.0"/>
      <param name="allow_clear" value="true" />
      <param name="esdf_max_distance_m"      value="2.0"/>
      <param name="verbose"                  value="false" />
   </node>

</launch>
