<launch>
  <!-- Turtlebot -->
  <arg name="base"              default="$(env TURTLEBOT_BASE)"         doc="mobile base type [kobuki, create, roomba]"/>
  <arg name="stacks"            default="$(env TURTLEBOT_STACKS)"       doc="stack type displayed in visualisation/simulation [circles, hexagons]"/>
  <arg name="3d_sensor"         default="$(env TURTLEBOT_3D_SENSOR)"    doc="3d sensor types [kinect, asux_xtion_pro]"/>
  <arg name="robot_name"        default="$(env TURTLEBOT_NAME)"         doc="used as a unique identifier and occasionally to preconfigure root namespaces, gateway/zeroconf ids etc."/>
  <arg name="simulation"        default="false"                         doc="set flags to indicate this turtle is run in simulation mode."/>

  <param name="/use_sim_time" value="$(arg simulation)"/>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>
  
  <include file="$(find turtlebot_unizar_bringup)/launch/includes/kobuki/mobile_base.launch">
    <!-- <arg name="serialport" value="$(arg serialport)" /> -->
  </include>
  
</launch>
